{% extends 'base.html' %}
{% block content %}
     <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              About
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
      <div class="row mar-b-50">
        <div class="col-lg-5">
          <div class="about-carousel wow fadeInLeft">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <img src="/assets/img/p3.jpg" alt="">
                  <div class="carousel-caption">
                    <p>
                      Empowering farmers with Information Technology
                    </p>
                  </div>
                </div>
                <div class="item">
                  <img src="/assets/img/2.jpg" alt="">
                  <div class="carousel-caption">
                    <p>
                      Empowering farmers with Information Technology
                    </p>
                  </div>
                </div>
                <div class="item">
                  <img src="/assets/img/3.jpg" alt="">
                  <div class="carousel-caption">
                    <p>
                     Empowering farmers with Information Technology
                    </p>
                  </div>
                </div>

              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left">
                </i>
              </a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right">
                </i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 about wow fadeInRight">
          <h3>About Smartfarm</h3>
          <p>Smartfarm is a web application which provides business purposes to villagers, farmers,wholesalers or other site users at their doorstep. Remote or rural areas farmers can directly sell their products to a wholesaler according to their needs. This helps farmers to improve their financial conditions, so they may interact with vast internet world and this improves their knowledge as well.</p>
          <p>An online shop evokes the physical analogy of buying products or services at a regular "bricks-and-mortar" retailer or shopping center; the process is called business-to-consumer (B2C) online shopping. When an online store is set up to enable businesses to buy from another businesses, the process is called business-to-business (B2B) online shopping. A typical online store enables the customer to browse the firm's range of products and services, view photos or images of the products, along with information about the product specifications, features and prices.</p>
        </div>
      </div>

    </div>
  {% endblock content %}

