{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider" style="top:1px; text-align: center; background: #4a9234">
        <img src="/assets/img/banner.jpg">
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
              Smartfarm
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/1.jpg" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>Smartfarm</b>
                </h4>
              </div>
              <p class="text-center">
                Smartfarm is a Python based application which gives an idea to the farmers how to use internet to sell their products. Farmers will get all the new ideas to improve their productivity and they can buy and sell their products online with getting a better profit percentage as they were getting before.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/2.jpg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Scope</b>
                </h4>
              </div>
              <p class="text-center">
                Smartfarm is a web application which provides business purposes to villagers, farmers, wholesalers or other site users at their doorstep. Remote or rural areas farmers can directly sell their products to a wholesaler according to their needs. This helps farmers to improve their financial conditions.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/3.jpeg" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Motivation</b>
                </h4>
              </div>
              <p class="text-center">
                Smartfarm allows the farmers to globalize their products. Online sales and purchase details of both farmers and wholesales are should maintain in secured way. Report generation features is provided using to generate different kind of reports which are helpful to knowing information of sales and purchases.
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/assets/img/p4.jpg" alt="" style="height:335px; width:560px">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              Smartfarm
            </h1>
            <hr>
            <p> Smartfarm is a web application which provides business purposes to villagers, farmers,wholesalers or other site users at their doorstep. Remote or rural areas farmers can directly sell their products to a wholesaler according to their needs. This helps farmers to improve their financial conditions, so they may interact with vast internet world and this improves their knowledge as well.</p>
            <p>An online shop evokes the physical analogy of buying products or services at a regular "bricks-and-mortar" retailer or shopping center; the process is called business-to-consumer (B2C) online shopping. </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}

